ion-card {
  height: 100%;

  ion-card-header {
    ion-card-title {
      font-size: 14px;
    }

    ion-button {
      position: absolute;
      top: 2px;
      --padding-end: 6px;
      --padding-start: 6px;
      font-size: 12px;

      &.reset-stat {
        left: 0;
      }

      &.level-up {
        right: 0;
      }

      &.test-stat {
        right: 0;
        font-size: 14px;
      }
    }
  }

  .dice-roll {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    ion-icon {
      font-size: 42px;
    }
  }

  .main-stat-value {
    font-size: 1.75em;
  }

  .stat-details > div {
    display: flex;
    justify-content: space-between;
  }
}
